@import './mixins/_normalize.scss';
@import './mixins/_media.scss';
@import './themes/_themes.scss';

*{
	box-sizing: border-box;
}

html {
	font-size: 16px;
	min-width: 320px;
}

.app{
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* IE6/7 support */
.clearfix{ 
	*zoom: 1;
}

@import './layouts/_priorities.scss'; 